<%= render 'shared/navbar' %>
<div class="container">



    <div class="row">


      <div class="col-12 col-sm-10 col-md-8">

        <div class="index-title m-3">
          <h1>All items</h1>
          <%= link_to "Add item", new_item_path, class: 'btn btn-warning'  %>
        </div>

      </div>




    </div>

  <div class="items">

  <div class="row">

    <% @items.each do |item| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="item-card">
          <% if item.photo.attached? %>
            <%= cl_image_tag item.photo.key, alt: item.name, crop: "fill"%>
          <% end %>
          <div class="item-info">
            <p><%= item.name %></p>
            <p><%= item.number %></p>
            <p><%= item.price %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  </div>




</div>
